@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root{
    min-width: 533px
}

/* NAVBAR */

.navbar{
    box-shadow: 0 0 5px 0px #000000;
}
.navbar-brand{
    margin-right: auto;
}

@media all and (max-width: 808px){
    #atp-logo{
        order: -3;
    }
    .navbar-brand{
        order: -2;
        margin: 0;
        text-align: center;
    }
    #wta-logo{
        order: -1;
    }
}
@media all and (max-width: 685px){
    #user-pages{
        display: flex;
    }
    .user-item{
        margin-left: 1em;
    }
}
.nav-item:hover{
    text-decoration: none;
    font-weight: bold;
}

#atp-logo {
  background-image: url("./assets/logos/ATP.png");
  background-position: center;
  background-size: cover;
  height: 2em;
  width: 2em;
}

#wta-logo {
    background-image: url("./assets/logos/WTA.svg");
    background-position: center;
    background-size: cover;
    height: 2em;
    width: 2em;
}
#welcome-text:hover{
    cursor: pointer;
}

/* LANDING PAGE */

.landing-page-container {
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-attachment: fixed;
}
#australia {
  background-size: cover;
  background-image: url("./assets/miniatures/Australian-open.jpg");
  height: 250px;
  box-shadow: 0 0 15px 2px #000000;
}

#roland-garros {
  background-size: cover;
  background-image: url("./assets/miniatures/Roland-garros.jpg");
  height: 250px;
  box-shadow: 0 0 15px 2px #000000;
}

#wimbledon {
  background-size: cover;
  background-image: url("./assets/miniatures/Wimbledon.jpg");
  height: 250px;
  box-shadow: 0 0 15px 2px #000000;
}

#us-open {
  background-size: cover;
  background-image: url("./assets/miniatures/Us-open.jpg");
  height: 250px;
  box-shadow: 0 0 15px 2px #000000;
}

/* RANKING PAGE */

.ranking-page-container{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/backgrounds/Wimbledon.jpg');
}

.ranking-page{
    min-height: 95vh;
}

.ranking-filter{
    box-shadow: 0 0 5px 0px #000000;
    padding: 0;
}

.country-input{
    max-width: 100%;
}

.ranking-table{
    box-shadow: 0 0 5px 0px #000000;
    padding: 0;
}

.ranking-position{
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.ranking-position:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.player-name{
    font-weight: bold;
}

/* RACE LONDON PAGE */

.race-london-page-container{
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 2em;
    background-size: cover;
    background-image: url('./assets/backgrounds/Wozniacky.png');
}

/* SEASON CALENDAR PAGE */

.season-calendar-page-container{
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    background-image: url('./assets/backgrounds/Us-open.webp');
}

#season-page{
    min-height: 95vh;
}
.tournament{
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff
}
.tournament:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.tournament-name{
    font-weight: bold;   
}
.tournament-city{
    font-weight: bold;   
}

/* CURRENT TOURNAMENTS PAGE */

.current-tournaments-page-container{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/backgrounds/Sharapova.jpg');
    min-height: 95vh;
}
.current-tournaments-title{
    box-shadow: 0px 0px 10px 1px #000000;
    padding: 0.25em 0;
}
.match-container{
    box-shadow: 0px 0px 10px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff
}
.match-container:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

/* NEWS PAGE */

.news-page-container{
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 5em;
    background-size: cover;
    background-image: url('./assets/backgrounds/Nadal.jpg');
    min-height: 95vh;
}

.article-container{
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    box-shadow: 0px 0px 10px 1px #000000;
}

.article-img{
    height: 6em;
    background-size: cover;
    background-position: center;
}
@media all and (max-width: 768px){
    .article-img{
        height: 12em;
        margin-bottom: 1em;
    }
}

/* SIGN UP PAGE */

.sign-up-container{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/backgrounds/Ivanovic.jpg');
    min-height: 95vh;
}

/* SIGN IN PAGE */

.sign-in-container{
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 1.5em;
    background-size: cover;
    background-image: url('./assets/backgrounds/Delpo.jpg');
    min-height: 95vh;
}

/* USER ARTICLES PAGE */

.user-page-container{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/backgrounds/Thiem.jpeg');
    min-height: 95vh;
}

